.App {
  text-align: center;
  background-color: black;
  color: yellow
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.Header {
  color: yellow;
  border: 2px solid white;
}

Nav {
  color: yellow;
  border: 2px solid white;
  position: absolute
}

.planetCard, .planetPage {
  display: inline-block;
}

.PlanetCard {
  border: 2px solid white;
  max-width: 400px;
}

.MainContainer {
  border: 2px solid white;
}

.Question {
  border: 2px solid white;
  max-width: 700px;
  background-color: black;
  color: yellow;
}

img {
  max-width: 200px;
}

.PlanetsContainer {
  max-width: 400px
}

.PlanetPage {
  max-width: 700px;
  border: 2px solid white;
}


